/* .footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: black;
    color: rgb(247, 247, 247);
    position: absolute;
    bottom: 0%;
    height: 5vmin;
    width: 100%;
    
}

 */

 footer {
    position: fixed;
    bottom: 0%;
    width: 100%;

 }